

/* ----------------------------- General Styling */
body {
    font-weight: 300; 
    background-color: #F5F5F5;
    color: black;
    font-family: 'Titillium Web', sans-serif;

    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


/* ----------------------------- navbar styling */
a {
    text-decoration: none;
}

a:hover {
    color: #663399;
}

.whole-head {
    background-color: black;
    position: relative;
}

.container-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: black;
    width: 100%;

    position: fixed;
    top: 0;

    z-index: 1000;
}

.navbar-item {
    color: white;
    font-size: 20px;
}


/* ------------------------- home */
.container-main-home {
    display: flex;
    flex-direction: column;
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
}

.hero {
    background: url('/static/images/space.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    color: white;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 60px;
    text-align: center;
}

.cover-letter {
    color: black;
    font-size: 20px;
    text-align: left;

    margin-left: 20%;
    margin-right: 20%;
}


/* ------------------------- resume */
.resume-container {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;

    position: absolute;
    bottom: -100%;
    animation: comeUpFromBottom 1s forwards;
}

.resume-container li {
    font-size: 20px;
}

.resume-list-header {
    font-size: 25px;
}

.resume-header {
    text-align: center;
}

#resume-name {
    font-size: 50px;
}

.contact-info {
    font-size: 25px;
}

.resume-text {
    font-size: 20px;
}

.resume-list {
    margin-left: 40px;
}


/* ------------------------- project */
#container-main-project {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-left: 10%;
    margin-right: 10%;
}

#orbit-pic {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

#orbit-pic img {
    width: 200px;
    height: auto;
}

.project-link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 75vh;
    margin-bottom: 20px;
}

#project-header-container {
    margin-top: 50px;
    text-align: right;
    flex: 1;
}

.pdf-viewer {
    display: none;
}

.pdf-container {
    display: flex;
    flex-direction: column;
}

.spacer {
    height: 50px;
}


/* TAKE 2 */

.proj-container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    font-size: 18px;
}

.proj-title {
    margin-bottom: 25px;
    text-align: center;
}

.title-link {
    text-decoration: none;
    color: black;
}

.proj-overview {
    margin-bottom: 15px;
}

.proj-images {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    
}

.proj-img {
    width: 15vw;
    height: auto;
}

.proj-link-container {
    display: flex;
    justify-content: center;
}

.proj-link {
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    background-color: white;
    color: #191970;
    border: 1px solid #191970;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}

.proj-link:hover {
    background-color: black;
    color: white;
}

.spacer {
    height: 50px;
}


/* ------------------------- animations */
@keyframes enterFromLeft {
    from {
      left: -100%;
    }
    to {
      left: 0;
    }
  }


  @keyframes comeUpFromBottom {
    from {
      top: 100%;
    }
    to {
      /* bottom: 0; */
      top: 30px;
    }
  }


/* ------------------------- targets click to view
                             button on ipads */
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : landscape) {
    
    .project-link {
        display: none;
    }

    .pdf-viewer {
        font-size: 30px;
        text-decoration: none;
        display: inline-block;
        background-color: white;
        color: #191970;
        border: 1px solid #191970;
        transition: background-color 0.3s, color 0.3s;
        border-radius: 10px;
        padding: 5px;
        margin-top: 20px;
        text-align: center;
        margin-left: 25%;
        margin-right: 25%;
    }
  }


/* phone sizing adjustments */ 
  @media only screen and (max-width: 600px) {


    /* ------------------------- general */
    .spacer {
        height: 50px;
        width: 100%;
    }

    /* ------------------------- navbar */
    #navbar {
        margin-left: 10%;
        margin-right: 10%;
    }

    .navbar-item {
        font-size: 20px;
    }

    
    /* ------------------------- home */
    .container-main-home {
        display: flex;
        flex-direction: column;
    }

    .overlay-text {
        font-size: 40px;
        /* margin-top: 30px; */
        margin-bottom: 50px;
        align-items: center;
        justify-content: center;
    }

    .overlay-intro {
        font-size: 30px;
    }

    .cover-letter {
        margin-top: 20px;
        margin-left: 5%;
        margin-right: 5%;
        align-items: center;
        min-height: 300px;
    }

    .section {
        align-items: baseline;
    }


    /* ------------------------- resume */
    .email {
        font-size: 16px;
    }

    li {
        font-size: larger;
    }

    .resume-list {
        margin-left: 40px;
    }

    .resume-container {
        margin-left: 5%;
        margin-right: 5%;
    }

    .resume-text {
        font-size: larger;
    }

    .resume-list-header {
        font-size: x-large;
    }


    /* ------------------------- project */
    .project-link {
        display: none;
    }

    .pdf-viewer {
        font-size: 30px;
        text-decoration: none;
        display: inline-block;
        background-color: white;
        color: #191970;
        border: 1px solid #191970;
        transition: background-color 0.3s, color 0.3s;
        border-radius: 10px;
        padding: 5px;
        margin-top: 20px;
    }

    .pdf-viewer:hover {
        background-color: black;
        color: white;
    }

    .pdf-container {
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        
    }

    #container-main-project {
        margin-left: 2%;
        margin-right: 2%;
    }    

    #container-main-project {
        flex-direction: column;
        align-items: center;
    }

    #project-header-container {
        text-align: center;
    }


    /* TAKE 2 */
    .proj-container {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 50px;
    }

    .proj-images {
        flex-direction: column;
    }

    .proj-img {
        width: 100%;
    }
  }