{% extends 'template.html' %}
{% block content %}

<div id="container-main-home">

    <div class="section hero">
        <div class="overlay-text">
            <h1 class="overlay-name">I'm Anders.</h1>
            <br>
            <h3 class="overlay-intro">A mathematician with a passion for orbits.</h3>
        </div>
    </div>

    <div class="section cover-letter">
        <p> To whom it may concern:
            <br><br>
            I would like to introduce myself and explain my skills and my lack of work experience. I am autistic, which has both benefits and challenges. I have a unique and creative perspective and math skills, particularly in computational physics and mathematical modeling. My college studies took longer than some, and one reason is I switched majors from psychology to math when some math professors saw some of my work with orbits and persuaded me to change to math.
            <br><br>
            I would like to find work that would be impactful for a business and meaningful for a team and for myself, as well. I am searching for someone who could benefit from my skill set and is willing to give me an opportunity to work and learn. 
            <br><br>
            Thank you for your consideration!
            <br><br>
            Anders Colin Gustafson 
            <br><br><br>
        </p>
        <div class="spacer"></div>
    </div>
</div>



{% endblock %}