{% extends 'template.html' %}

{% block content %}

<div class="resume-container">

    <div class="resume-header">
        <h1 id="resume-name">Anders Colin Gustafson</h1>
        <br>
        <h3 class="contact-info email">anderscolingustafson@yahoo.com</h3>
        <h3 class="contact-info">704-726-4417</h3>
        <br><br>
        
        <div class="res-items">
            <p class="res-text">Using Excel files is my specialty and was an integral part of my Capstone
                Project for which I used Excel files to approximate wave functions and orbits.</p><br>
            <p class="res-text">I have developed many skills such as problem solving, creativity, empathy,
                and clear communication to assist with living on the Autism Spectrum. I
                would like the opportunity to share how my interpersonal skills and unique
                life experiences would make me a good fit for many positions.</p>
        </div>
    </div>
    

    <!-- EDUCATION SECTION -->
    <br>
    <h3 class="resume-list-header">EDUCATION:</h3>

    <!-- <ul class="resume-list"> -->

    <div class="res-items">
        <b class="education">B.A. Mathematics (May 2022)</b>
        <p class="res-text">Queens University - Charlotte, NC</p>
        <p class="res-text proj-grade">A– on Capstone Project: Computer Modeling of Orbits with Gravitational Constant Changing</p>
    </div>
        <!-- <li>Bachelor of Arts in Mathematics
            <br>
            Queens University in Charlotte, North Carolina
            <br>
            May 2022
        </li>

        <li>
            A– on Capstone Project: Computer Modeling of Orbits with Gravitational Constant Changing
        </li>
    </ul> -->
    
    <!-- EXPERIENCE SECTION -->
    <br>
    <h3 class="resume-list-header">EXPERIENCE:</h3>
    <!-- <ul class="resume-list"> -->

        <div class="res-items">
            <p class="res-text">- Peer Tutor at Queens University in Charlotte, North Carolina</p>
            <p class="res-text">- ROAR Leader for new students at Queens University in Charlotte, North Carolina</p>
        </div>
        <!-- <li>
            Peer Tutor at Queens University in Charlotte, North Carolina
        </li>

        <li>
            ROAR Leader for new students at Queens University in Charlotte, North Carolina
        </li> -->
    <!-- </ul> -->

    <!-- INTEREST SECTION  -->
    <br>
    <h3 class="resume-list-header">INTERESTS:</h3>

    <div class="res-items">
        <p class="res-text">- Working on orbits & wavelengths</p>
        <p class="res-text">- Modeling geodesics on a curved surface</p>
        <p class="res-text">- Chess variants; created an 8-tier chess variant with 6 additional pieces</p>
        <p class="res-text">- Watching PBS Space Time</p>
        <p class="res-text">- Travel</p>
        <p class="res-text">- Star Wars</p>
        <p class="res-text">- Highrise</p>
    </div>
    <!-- <ul class="resume-list">
        <li>Working on orbits & wavelengths</li>
        <li>Modeling geodesics on a curved surface</li>
        <li>Chess variants; created an 8-tier chess variant with 6 additional pieces</li>
        <li>Watching PBS Space Time</li>
        <li>Travel</li>
        <li>Star Wars</li>
        <li>Highrise</li>
    </ul> -->

    <div class="spacer"></div>

</div>

{% endblock %}