<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/images/orbits_favicon.png">
    <!-- <script src="/static/app.js"></script> -->
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;900&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>


<!-- NAVBAR -->
<div class="whole-head">
    <div id="rotator"></div> <!-- Orbiting element -->

        <div class="container-main">
            <div class="container-navbar">
                <a class="navbar-item" href="{{ url_for('home') }}">Home</a>
                <a class="navbar-item" href="{{ url_for('projects') }}">Project</a>
                <a class="navbar-item" href="{{ url_for('resume') }}">Resume</a>
            </div>
        </div>
    </div>
</div>
<!-- END NAVBAR -->


    {% block content %}
    {% endblock %}
</body>
</html>